SocketIO-poco/Debug/
SocketIO-poco/x64/
SocketIO-poco/Release/
SocketIO-poco/Output/
Debug/
*.opendb
ipch/
.vs/
*.db
Release/
Output/
Live-Equestre-Pro/Debug
Live-Equestre-Pro/x64
Live-Equestre-Pro/Output
Live-Equestre-Pro/Release
*.aps
*.log
x64
sample.log.*